body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*-- header --*/

header {
    position: relative;
    margin: 0;
    padding: 0px 50px;
    z-index: 999;
    display: inline-block;
    width: 100%;
    left: 0;
}

header .logo a {
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.fixed-header .logo a {
    color: #fff;
}

header .logo {
    width: auto;
    position: relative;
    display: inline-block;
    height: 100%;
}

header .logo img {
    width: auto;
}

header nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: auto !important;
    max-width: unset !important;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header ul li {
    display: inline-block;
    position: relative;
}

.socialmedia {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    width: auto;
}

header nav li a {
    color: #252b33;
    padding: 0 0.75em;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    line-height: 50px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;
}

.socialmedia li a {
    color: #fff;
    display: flex;
    font-size: 15px;
    text-decoration: none;
    transition: all .2s ease;
    width: 26px;
    height: 26px;
    background: #4d555a;
    border-radius: 4px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}


/*-- Toggle --*/

#toggle {
    width: 30px;
    margin: 10px auto;
    display: none;
}


/*--  Sticy nav --*/

.fixed-header {
    position: fixed;
}

.fixed-header {
    animation: mymove 0.2s ease-in;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

@keyframes mymove {
    from {
        top: -20px;
    }

    to {
        top: 0px;
    }
}

.fixed-header li a {
    color: #fff;
}

.fixed-header .socialmedia li a {
    background: #fff;
    color: #4d555a;
}


/*-- video --*/

.ifrom-vieos {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: block;
    position: relative;
}

.ifrom-vieos source {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}

.ifrom-vieos video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ifrom-vieos:after {
    background: #f5df4e;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.videoslider .textzon {
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
    position: absolute;
    width: calc(100% - 100px);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.videoslider {
    position: relative;
    margin: 0 auto;
    padding: 0px 0px;
    display: inline-block;
    width: 100%;
}

.videoslider .textzon .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.videoslider .textzon .imagesprofil {
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    display: block;
    width: 550px;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.videoslider .textzon .prodiletext {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
}

.videoslider .prodiletext h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px 0px 20px;
    padding: 0;
}

.videoslider .prodiletext h6 {
    font-size: 1.3125rem;
    margin: 10px 0px 0px;
    padding: 0;
}

.videoslider .prodiletext .btnzone {
    position: relative;
    margin: 30px 0px 0px;
    padding: 0;
    display: flex;
    gap: 20px;
}

.videoslider .prodiletext .btnzone a {
    background: #242424;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    transition: 0.5s all linear;
    letter-spacing: 0.5px;
}

.videoslider .prodiletext .btnzone a:last-child {
    border: 1px solid #242424;
    background: unset;
    color: #242424;
    font-weight: 700;
}

.videoslider .prodiletext .btnzone a:hover {
    border: 1px solid #242424;
    color: #242424;
    font-weight: 600;
    background: unset;
}

.videoslider .prodiletext .btnzone a:hover:last-child {
    background: #242424;
    color: #fff;
}

.typingtex a.typewrite {
    font-size: 5.2rem;
    font-weight: 800;
    color: #212529;
    word-break: break-word;
    display: inline-block;
}

.typingtex {
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    display: inline-block;
}


/*-- about us --*/

.aboutus {
    position: relative;
    margin: 0px 0px 0px;
    padding: 30px 0px 0px;
    display: inline-block;
    width: 100%;
    background: #f2f2f2;
}

.aboutus h6 {
    background: #f5df4e;
    width: max-content;
    margin: 20px auto 0px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
}

.aboutus h5 {
    margin: 10px 0px 0px;
    font-size: 30px;
    font-weight: 700;
}

.aboutus h2 {
    font-size: 2rem;
    color: #000000;
    margin: 10px 0px 20px;
    padding: 0;
    font-weight: 400;
    line-height: 50px;
}

.aboutus h2 span {
    font-weight: 800;
    position: relative;
}

.aboutus h2 span:after {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    content: '';
    border-bottom: 3px solid #ffc107;
}

.aboutus p {
    font-size: 1.0rem;
    line-height: 1.8;
    color: #212529;
    text-align: left;
    padding-right: 30px;
}

.numberexpress {
    position: relative;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.numberexpress span {
    color: #4c4d4d;
    font-size: 10rem;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    z-index: 1;
}

.numberexpress span:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    background: #f5df4e;
    border-radius: 50%;
    top: 50px;
    z-index: -1;
}

.numberexpress h4 {
    line-height: 0px;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.aboutus .fombox {
    margin-top: 50px;
    margin-bottom: 20px;
}

.aboutus .fombox h6 {
    background: unset;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #6c757d;
    font-weight: 500;
    font-size: 15px;
}

.aboutus .fombox h5 {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 800;
    color: #212529;
    margin-top: 10px;
}


/*-- footer --*/

footer {
    color: #fff;
    background: #252b33;
    padding: 10px;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.videoslider .textzon .imagesprofil img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 100%;
}


/*-- time line --*/

.experience,
.testimonials {
    padding: 30px 0px 0px;
    width: 100%;
    background: #f2f2f2;
    margin: 0;
    display: block;
}

.time-line,
.white-space-box {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    display: block;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    overflow: hidden;
}

.time-line ol {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.time-line ol li {
    margin: 0px auto 20px;
    padding: 0;
    position: relative;
    width: 100%;
    display: inline-block;
}

.time-line ol li:after {
    content: "";
    position: absolute;
    top: 30px;
    left: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffc107;
    z-index: 1;
}

.time-line ol li:before {
    content: '';
    width: 5px;
    height: calc(100% + 30px);
    background: #ffc10752;
    position: absolute;
    left: 2px;
    top: 0;
    border-radius: 50px;
}

.contain_text_timeline_box {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.contain_text_timeline_box p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0px 0px;
    color: #000;
    font-weight: 500;
}

.contain_text_timeline_box h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}

.contain_text_timeline_box h5 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0px 0px 5px;
    padding: 0;
}

.contain_text_timeline_box h6 {
    font-size: 12px;
    color: #000;
    margin-bottom: 5px;
}

.contain_text_timeline_box span.regards {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.contain_text_timeline_box span.regards b {
    font-size: 14px;
    color: #000;
    width: 100%;
    display: inline-block;
}

.contain_text_timeline_box .paraghraph::-webkit-scrollbar {
    width: 5px;
    height: 100px;
}

.contain_text_timeline_box .paraghraph::-webkit-scrollbar-track {
    background-color: #adadad;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.contain_text_timeline_box .paraghraph::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #000000, #080542);
}

.owl-nav button.owl-prev {
    left: 0px !important;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    display: block;
}

.experience .owl-dots button.owl-dot,
.testimonials .owl-dots button.owl-dot {
    transition: 0.5s all linear;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50px !important;
    position: relative;
    margin-right: 5px !important;
    padding: 0 !important;
    top: 0;
    line-height: unset !important;
    box-shadow: unset !important;
    opacity: 1;
    border: 0 !important;
}

.experience .owl-dots button.owl-dot,
.testimonials .owl-dots button.owl-dot {
    background: #198754 !important;
}

.experience .owl-dots button.owl-dot.active,
.testimonials .owl-dots button.owl-dot.active {
    background: #f5bc07 !important;
    transition: 0.5s all linear;
}

.heading {
    margin: 0px 0px 10px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.heading h3 {
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000;
}

/* .heading a {
    border: 1px solid #000;
    color: #000;
    padding: 7px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
} */

.blog-box {
    margin: 10px 0px;
    border: 2px solid #f2f2f2;
    border-radius: 6px;
    padding: 3px;
    box-shadow: 0px 5px 10px #ebebeb;
}

.blog-box .blog-text {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
}

.blog-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.blog-box .blog-text h6 {
    font-size: 15px;
    margin: 10px 0px 10px;
    padding: 0px 0px;
    color: #000;
    font-weight: 700;
    line-height: 25px;
}

.blog-box .blog-text p {
    font-size: 14px;
    line-height: 27px;
    padding: 0px;
    margin: 0px 0px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 0.3px;
}

.blog-icon {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
}

.blog-icon a {
    color: #666161;
    font-size: 13px;
}

.contain_text_timeline_box:after {
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #16a085;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: max-content;
    border-radius: 4px;
}

#testimonials .owl-item:nth-child(odd) .item .contain_text_timeline_box:after {
    border-top-color: #ffc107;
}

#testimonials .owl-item:nth-child(odd) .item .contain_text_timeline_box {
    background: #f5bc07;
}

.experience .owl-dots button.owl-dot:nth-child(odd) {
    background: #f5bc07 !important;
}

#testimonials .owl-item:nth-child(even) .item .contain_text_timeline_box {
    background: #16a085;
}

#testimonials .owl-item:nth-child(even) .item .contain_text_timeline_box:after {
    border-top-color: #16a085;
}

.experience .owl-dots button.owl-dot:nth-child(even) {
    background: #16a085 !important;
}

.paraghraph {
    position: relative;
    margin: 0px 0px 10px;
    padding: 0;
    height: calc(300px - 20px);
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    width: calc(100% - -15px);
    padding-right: 15px;
}

.paraghraph:before {
    content: '\f10d';
    top: 0px;
    left: 0px;
}

.paraghraph:after {
    content: '\f10e';
    right: 0;
    bottom: 0;
}

.paraghraph:before,
.paraghraph:after {
    line-height: 30px;
    font-weight: 800;
    font-family: 'FontAwesome';
    width: 100%;
    position: relative;
    font-size: 40px;
    color: #fff;
    z-index: -1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.latest-blog {
    position: relative;
    margin: 0;
    padding: 0;
}

.experience button,
.testimonials button {
    background: #ffffff !important;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    margin: 0;
    font-size: 16px !important;
    color: #000 !important;
    box-shadow: 0px 3px 5px #d4d4d47d;
    line-height: 40px !important;
    border: 1px solid #dedede !important;
}

.experience .owl-dots,
.testimonials .owl-dots {
    display: none;
}

.experience .owl-dots {
    display: block;
}

.experience .owl-dots,
.testimonials .owl-dots {
    width: max-content;
    margin: 0 auto;
    display: block;
    position: relative;
    line-height: unset;
    overflow: hidden;
}

.aboutus .white-space-box {
    padding: 30px 30px;
}

.book-box-item {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #f2f2f2;
    border-radius: 6px;
    padding: 0px;
    box-shadow: 0px 5px 10px #ebebeb;
    gap: 10px;
}

.book-box-item .book_images {
    width: 250px;
    position: relative;
    margin: 0;
    padding: 0px 10px;
    display: inline-block;
    background: #f2f2f2;
}

.book_text h4 {
    font-size: 16px;
    font-weight: 700;
}

.book_text p {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.book_text h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.2px;
    margin: 0px 0px 10px;
}

.rating span {
    color: #f5df4e;
    font-size: 14px;
}

.book_images img {
    width: 140px !important;
}


/*--contact us--*/

.contact-us {
    margin: 0px;
    padding: 0px 0px 30px;
    background: #f2f2f2;
}


/*--maping css--*/

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 65vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
}

.gmap_iframe {
    width: 100% !important;
    height: 80vh !important;
}

.contact-us span {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    font-size: 26px;
    transform: rotate(0deg);
    background-image: linear-gradient(180deg, #FEAA4745 0%, #4787FA00 100%);
    color: #feaa47;
    width: 75px;
    display: inline-block;
    height: 70px;
    text-align: center;
    line-height: 70px;
    z-index: 9;
}

.contact-icon {
    margin: 0px 10px;
    padding: 0px;
}

.contact-icon img {
    width: 45px;
}

.contact-icon a {
    font-size: 32px;
    color: #000;
}

.contact-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline-block;
}

.contact-text h6 {
    margin: 0px 0px 5px;
    display: inline-block;
    width: 100%;
    position: relative;
    color: #0a5e01;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.contact-text p {
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    margin: 0;
}

.contact-text h6:hover {
    color: #f5bc07;
}

.contact-text p:hover {
    color: #16a085;
}

.contact-us a {
    margin: 0;
    display: flex;
    width: 100%;
    background: #ffff;
    box-shadow: 0 5px 10px #cbcbcb;
    border-radius: 5px;
    padding: 15px;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    gap: 15px;
    margin-top: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: -40px;
}

.contact-us a:after,
.contact-us a:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background: #cdcdcd;
    border-radius: 80%;
    opacity: 0.1;
    z-index: -1;
}

.contact-us a:after {
    top: -10px;
    left: -10px;
}

.contact-us a:before {
    bottom: -10px;
    right: -10px;
}

.contactformsecion {
    margin: 0px 0px 0;
    padding: 50px 0px;
    background: url(../images/form-back.jpg);
    background-position: top, center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.contactformsecion h4 {
    text-align: center;
    color: #fff;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.contactformsecion .form-group {
    margin: 0px 0px 29px;
}

.contactformsecion .form-control {
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    height: 45px;
    background: #ffffff5e;
    padding: 0px 10px;
}

.contactformsecion .form-group label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.contactformsecion .form-group textarea#UMSG {
    height: 150px;
    overflow-y: hidden;
    padding: 15px 10px;
}

.contactformsecion button.btn-button {
    width: max-content;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 80px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    display: block;
}

.contactformsecion .button-section {
    margin: 10px auto;
    padding: 0px;
    width: 100%;
}

.contactformsecion .form-control::placeholder {
    color: #fff;
}

.contactformsecion:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: -1;
}

.pading-bootm-sec {
    padding-bottom: 30px;
}

/*--Consultancy--*/
.Consultancy {
    border: 1px solid #f2f2f2;
    margin: 0 auto 20px;
    width: 100%;
    border-radius: 6px;
    display: inline-block;
}

.Consultancy .Consultancy-heading h2 {
    margin: 0px;
    padding: 10px 0px;
    font-size: 19px;
    font-weight: 700;
}

.Consultancy .Consultancy-list {
    margin: 0px auto 0px;
    padding: 20px 0px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 3px 5px #a0a0a0;
    background: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
    border-radius: 4px;
    width: 100%;
}

.Consultancy .Consultancy-list ul li a {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #000;
    display: inline-block;
    width: 100%;
}

.Consultancy .Consultancy-list ul li a h3 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.3px;
    margin: 0px 0px 15px;
    padding: 0px 0px;
    color: #000;
    line-height: 25px;
}

.Consultancy .Consultancy-list ul li a p {
    color: #222;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    padding: 0px;
    margin: 0px 0px 15px;
    overflow: hidden;
    letter-spacing: 0.3px;
}

.Consultancy .Consultancy-list ul li a span {
    background: #ffff;
    border: 1px solid #eae5e5;
    margin: 5px 0px 0px;
    padding: 8px 60px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
}

.Consultancy .Consultancy-list ul li a span:hover {
    background: #000;
    color: #fff;
    border: none;
}

.Consultancy-images {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    z-index: 2;
    height: 300px;
}

.Consultancy-images h2 {
    position: absolute;
    top: 40%;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 2;
    font-size: 50px;
    font-weight: 600;
}

.Consultancy-images:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}

.consultancy-box {
    position: relative;
    margin: 0px 0px 0px;
    padding: 0;
    display: inline-block;
    z-index: 3;
    width: 100%;
    transform: translateY(-50px);
}

.Consultancy-images img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Consultancy .Consultancy-list li {
    border-left: 5px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 1px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.Consultancy .Consultancy-list ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 50px;
}

/*--training--*/
.training {
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
}

.training h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
    letter-spacing: 0.3px;
}

.training p {
    color: #222;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    padding: 0px;
    margin: 0px 0px 15px;
    letter-spacing: 0.3px;
}

.training-list ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}

.training-list ul li a h5 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.training-list ul li {
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 5px rgb(227 227 227 / 31%);
    margin-bottom: 5px;
    border: 4px solid #ececec;
}

.training-list ul li a p {
    color: #222;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 0.3px;
}

.view-button-section {
    text-align: center;
    color: #16a085;
    font-size: 16px;
    font-weight: 600;
}

.training-list ul li:nth-child(even) {
    border-top: 4px solid #ffc107;
    border-left: 4px solid #ffc107;
}

.training-list ul li:nth-child(odd) {
    border-bottom: 4px solid #1aa187;
    border-left: 4px solid #1aa187;
}

.view-button-section ul {
    display: none;
    transition: 0.5s all linear;

}

.view-button-section.expanded ul {
    display: grid;
    transition: 0.5s all linear;
}